<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ site.nazov_strany }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://goldenworld.ga/aplikacia/css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="https://goldenworld.ga/aplikacia/obrazky/logo.jpg" />
    <link rel="stylesheet" href="https://goldenworld.ga/aplikacia/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/aplikacia/css/cookies.css">
    <script src="/aplikacia/js/cookies.js"></script>
    <script src="https://kit.fontawesome.com/41ddfa8847.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>
</head>