<!DOCTYPE html>
<html lang="sk">
    {% include hlava.html %}
    <body class="bg-dark text-white">
        {% include hlavicka.html %}
        <h1 class="text-center">ČO NÁJDETE NA SERVERI</h1>
        <hr>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-cubes fa-stack-1x"></i>
            </span>
            <h4 class="service-title">Minecraft 1.18.1</h4>
            <p class="text-service">Golden World beží na verzii MineCraftu 1.18.1</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-users fa-stack-1x"></i>
            </span>
            <h4 class="service-title">Komunita</h4>
            <p class="text-service"></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-unlock fa-stack-1x"></i>
            </span>
            <h4 class="service-title">Whitelist</h4>
            <p class="text-service">Na hranie u nás je nutné poslať <a class="text-uppercase portfolio-link" data-toggle="modal" href="https://goldenworld.ga/discord">discordu</a>. Po spracovaní ti dáme vedieť na discorde.</p>
          </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fab fa-discord fa-stack-1x"></i>
          </span>
          <h4 class="service-title"><a class="btn btn-danger btn-xl text-uppercase" href="https://goldenworld.ga/discord" target="_blank">Discord</a></h4>
        </div>
      </div>
      {% include footer.html %}
    </body>
</html>